.container {
  top: 5%;
  .projects-title {
    position: relative;
    top: 25px;
  }
  .projects {
    margin-top: 0;
    display: flex;
    position: relative;
    top: 1%;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: -30px;
  }
  h1 {
    cursor:context-menu;
    font-size: 53px;
    font-family: 'Coolvetica';
    color: #ffd700;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 40px;
    position: relative;
    left: 10px;
    animation: pulse 1s 1s backwards;
    &:nth-of-type(1) {
      animation-delay: 1s;
    }
  }
  .project {
    animation: fadeIn 1s 1.5s backwards;
    position: relative;
    text-align: center;
    display: block;
    width: 200px;
    height: 180px;
    //flex-basis: calc(33.33% - 20px);
    margin: 10px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.751);
    box-shadow: 0px 0px 10px 0px hsla(255, 54%, 12%, 0.515);
    border-radius: 12px;
    .projectDesc {
      opacity: 0;
    }
    a:link {
      text-decoration: none;
    }

    a:visited {
      text-decoration: none;
    }

    a:hover {
      text-decoration: none;
      color: white;
    }

    a:active {
      text-decoration: none;
    }
    h3 {
      margin-top: 20px;
      position: relative;
      letter-spacing: 0.5px;
      padding: 0;
      top: -10px;
      font-size: 15px;
      font-weight: 400;
      color: white;
      font-family: 'Poppins';

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        top: 25px;
        bottom: 0;
        left: 0;
        background-color: #ffffff;
        transition: all 1s ease-out;
        //transform-origin: bottom right;
        // transition: transform 0.25s ease-out;
      }
    }
    img {
      margin-bottom: 0;
      width: auto;
      height: 100px;
    }
    p {
      max-height: 150px;
      color: whitesmoke;
      font-family: 'Poppins';
    }
    .keySkills {
      display: flex;
      position: relative;
      top: -5%;
      flex-wrap: wrap;
      font-family: 'Source Code Pro', monospace;
      color: rgb(2, 2, 2);
      font-weight: 600;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      opacity: 0;
      padding: 10px;
      gap: 5px;
      .ReactJS{
        background-color: #61DBFB;
      }
      .API{
        background-color: rgb(255, 255, 255);
      }
      .JavaScript{
        background-color: #F0DB4F;
      }
      .HTML{
        background-color: #E34C26;
      }
      .CSS{
        background-color: #2565AE;
      }
      .Python{
        background-color:#FFD43B;
      }
      .Firebase{
        background-color:#F5820D;
      }
      .Java{
        background-color: #f89820;
      }
      .JavaSwing{
        background-color: #5382a1;
      }
      .JavaAWT{
        background-color: #f89820;
      }
      span {
        cursor: default;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 0.3rem;
        border-radius: 20px;
        div{
          display: none;
        }
        &:hover{
          box-shadow: 0px 0px 10px 0px #ffffff;
           transform: scale(1.2);
           font-size: 13px;
           transition: all 0.3s ease-out;
          div{
            display: flex;
          }
        }
      }
    }
    small {
      position: absolute;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 600;
      bottom: 0;
      left: 35%;
      padding-bottom: 6px;
      text-decoration: none;
      letter-spacing: 2px;
      a {
        color: #ffd700;
      }

      a:link {
        text-decoration: none;
      }

      a:visited {
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
        color: white;
      }

      a:active {
        text-decoration: underline;
      }
    }
    &:hover {
      box-shadow: 0px 0px 12px 2px #f4d004;
      transform: scale(1.1);
      transition: all 0.3s ease-out;
      background-color: rgba(0, 0, 0, 0.978);
      .keySkills {
        opacity: 1;
      }
      .projectImg {
        
        height: 5px;
        opacity: 0;
      }
      .projectDesc {
        opacity: 1;
      }
      h3 {
        // text-decoration: underline;
        // text-underline-offset: 5px;
        margin-top: 0px;
        top: 0px;
        &::after {
          transition: all 0.3s ease-out;
          transform: scaleX(1);
          //transform-origin: bottom left;
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .container {
    top: 40px;
    right: 20%;

    .projects-title {
      top: 10px;
      left: 15%;
    }

    .projects {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 10px;
      overflow-x: auto;
      margin-left: 0;
      position: relative;
      padding: 20px;
    }

    h1 {
      font-size: 30px;
      margin-bottom: 20px;
      left: 10px;
    }

    .project {
      right: -10px;
      width: 100%;
      height: 300px;
      padding: 20px;
      box-shadow: 0px 0px 5px 0px hsl(254, 53%, 12%);
      .projectImg{
        width: 230px;
      }
      small{
        &:hover{
          transform: none;
        }
      }
      &:hover {
        box-shadow:none;
        transform: none;
        background-color: rgba(53, 52, 52, 0.371);
        .projectImg{
          width: 230px;
          height: 600px;
        }

        .keySkills {
          opacity: 1;
        }
        .projectImg {
          opacity: 1;
        }
        .projectDesc {
          opacity: 1;
        }
      }

      .projectDesc {
        opacity: 1;
      }

      h3 {
        font-size: 15px;
        top: 0;
        &::after {
          top: 25px;
        }
      }

      img {
        max-height: 100px;
      }

      .keySkills {
        font-size: 8px;
        opacity: 1;
        padding: 10px;

        span {
          padding: 0.5rem;
        }
      }
    }
  }
}
