.contact {
  position: absolute;

  h1 {
    top: 10%;
    cursor:context-menu;
  }
  p {
    position: relative;
    top: 10%;
    animation: fadeIn 1s 2s backwards;
    font-size: 20px;
    font-style: 13px;
    color: black;
    font-family: sans-serif;
    font-weight: 300;
    max-width: 800px;
    cursor:context-menu;
  }
  .contact-form {
    animation: fadeIn 1s 2s backwards;
    position: relative;
    top: 10%;
    width: 500px;
    margin-top: 20px;

    ul {
      padding: 0;
      margin: 0;

      li {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 10px;
        overflow: hidden;
        display: block;
        position: relative;
        opacity: 0;
        animation: fadeInUp 2s 2s;
        animation-fill-mode: forwards;
        clear: both;
      }
      li.half {
        width: 49%;
        margin-left: 2%;
        float: left;
        clear: none;

        &:first-child {
          margin-left: 0;
        }
      }
      input[type='text'],
      input[type='email'] {
        width: 100%;
        border: 0;
        background: black;
        &::placeholder{
          font-family: "Poppins";
          color: white;
        }
        height: 50px;
        font-size: 16px;
        color: #fff;
        padding: 0 20px;
        box-sizing: border-box;
      }
      textarea {
        &::placeholder{
          font-family: "Poppins";
          color: white;
        }
        width: 100%;
        border: 0; 
        background: black;
        height: 50px;
        font-size: 16px;
        color: #fff;
        padding: 10px 20px;
        min-height: 150px;
        box-sizing: border-box;
      }

      .flat-button{
        font-family: sans-serif;
        color: #ffd700;
        background:0 0 ;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 4px;
        text-decoration: none;
        padding: 8px 10px;
        border: 1px solid #ffd700;
        float: center;

        &:hover{
            cursor: pointer;
            background-color: #fdf700;
            color: black;
            border: 1px solid black;
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .contact {
    position: relative; /* Adjust positioning */
    
    h1 {
      top: 5%;
      left: 15%;
    }
    
    p {
      left: 15%;
      font-size: larger;
      width: 240px;
      top: 5%;
    }
    
    .contact-form {
      font-size: 10px;
      right: -50px;
      top: 5%;
      width: 200px; /* Adjust width for mobile */
      
      ul {
        li.half {
          width: 100%; /* Adjust width for mobile */
          margin-left: 0;
          float: none;
          
          &:first-child {
            margin-left: 0;
          }
        }
        
        input[type='text'],
        input[type='email'],
        textarea {
          width: 30000px;
        }
      }
    }
  }
}

